%div.input.string
  %input.string{type: "text", placeholder: "Your name", data: {bind: "comment.author"}}
%div.input.string
  %input.string{type: "text", placeholder: "Your comment", data: {bind: "comment.body"}}
%div.input
  %input.button{type: "submit", value: "Post your comment"}
