-# = simple_form_for @post do |f|
-#   - if @post.errors.any?
-#     #error_explanation
-#       %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
-#       %ul
-#         - @post.errors.full_messages.each do |msg|
-#           %li= msg
-# 
-#   = f.input :title
-#   = f.input :body
-#   = f.input :tags
-#   = f.input :published
-#   = f.input :published_on
-#   = f.submit

%div.input.string
  %input.string{type: "text", placeholder: "Post title", data: {bind: "post.title"}}
%div.input.string
  %input.string{type: "text", placeholder: "Post body", data: {bind: "post.body"}}
%div.input.string
  %input.string{type: "text", placeholder: "Tags", data: {bind: "post.tags"}}
%div.input.boolean
  %label Published?
  %input.boolean{type: "checkbox", data: {bind: "post.published"}}
%div.input.datetime
  %input.datetime{type: "date", placeholder: "Published on", data: {bind: "post.publishedOn"}}
%div.input
  %input.button{type: "submit", value: "Save Post"}
