%td{:data => {bind: "post.title", route: "routes.posts[post]"}}
%td{:data => {bind: "post.body"}}
%td{:data => {bind: "post.tags"}}
%td{:data => {bind: "post.published"}}
%td{:data => {bind: "post.published_on"}}
%td
%td
%td
