%h1 Listing posts

%table
  %thead
    %th Title
    %th Body
    %th Tags
    %th Published
    %th Published on
    %th
    %th
    %th

  %tbody
    %tr{data: {"foreach-post" => "posts"}}
      %td{:data => {bind: "post.title"}}
      %td{:data => {bind: "post.body"}}
      %td{:data => {bind: "post.tags"}}
      %td{:data => {bind: "post.published"}}
      %td{:data => {bind: "post.published_on"}}
      %td
      %td
      %td

%br

%a{data: {route: 'routes.posts.new'}} New Post
