%h1 Listing posts

%table
  %thead
    %th Title
    %th Body
    %th Tags
    %th Published
    %th Published on
    %th{colspan: 3} Actions

  %tbody
    %tr{data: {"foreach-post" => "posts"}}
      %td
        %a{data: {bind: "post.title", route: "routes.posts[post]"}}
      %td{data: {bind: "post.body"}}
      %td{data: {bind: "post.tags"}}
      %td{data: {bind: "post.published"}}
      %td{data: {bind: "post.publishedOn"}}
      %td
        %a{data: {route: "routes.posts[post]"}} Show
      %td
        %a{data: {route: "routes.posts[post].edit"}} Edit
      %td
        %a{data: {"event-click" => "destroy"}} Destroy

%br

%a{data: {route: 'routes.posts.new'}} New Post
