%h1 Listing posts

%table
  %thead
    %th Title
    %th Body
    %th Tags
    %th Published
    %th Published on
    %th
    %th
    %th

  %tbody
    %tr{data: {"foreach-post" => "posts"}}
      %td
        %a{data: {bind: "post.title", route: "routes.posts[post]"}}
      %td{data: {bind: "post.body"}}
      %td{data: {bind: "post.tags"}}
      %td{data: {bind: "post.published"}}
      %td{data: {bind: "post.publishedOn"}}
      %td
      %td
      %td

%br

%a{data: {route: 'routes.posts.new'}} New Post
