%p
  %b Title:
  %em{data: {bind: 'post.title'}}

%p
  %b Body:
  %em{data: {bind: 'post.body'}}
%p
  %b Tags:
  %em{data: {bind: 'post.tags'}}
%p
  %b Published:
  %em{data: {bind: 'post.published'}}
%p
  %b Published on:
  %em{data: {bind: 'post.publishedOn'}}

%a{data: {route: 'routes.posts[post]'}} Edit
%a{data: {route: 'routes.posts'}} Back
